includes:
    - vendor/phpstan/phpstan-symfony/extension.neon

parameters:
    level: 6
    paths:
        - .

    excludePaths:
        - vendor
        - Tests

    checkGenericClassInNonGenericObjectType: false
