<?php

$vendorDir = __DIR__.'/vendor';
require_once $vendorDir.'/symfony/src/Symfony/Component/ClassLoader/UniversalClassLoader.php';

use Symfony\Component\ClassLoader\UniversalClassLoader;

$loader = new UniversalClassLoader();
$loader->registerNamespaces(array(
    'Symfony\\Tests'  => $vendorDir.'/symfony/tests',
    'Symfony'         => $vendorDir.'/symfony/src',
));

$loader->registerPrefixes(array(
    'Twig_'            => __DIR__.'/vendor/twig/lib',
));

$loader->register();

spl_autoload_register(function($class) {
    $class = ltrim($class, '\\');
    if (0 === strpos($class, 'Trsteel\CkeditorBundle\\')) {
        $file = __DIR__.'/../'.str_replace('\\', '/', substr($class, strlen('Trsteel\CkeditorBundle\\'))).'.php';
        if (file_exists($file)) {
            require $file;
        }
    }
});

use Symfony\Component\HttpKernel\Kernel;
use Symfony\Component\Config\Loader\LoaderInterface;

class AppKernel extends Kernel
{
    public function registerBundles()
    {
        $bundles = array(
            new Symfony\Bundle\FrameworkBundle\FrameworkBundle(),
            new Symfony\Bundle\TwigBundle\TwigBundle(),
            new Trsteel\CkeditorBundle\TrsteelCkeditorBundle(),
        );

        return $bundles;
    }

    public function registerContainerConfiguration(LoaderInterface $loader)
    {
        $loader->load(__DIR__.'/config.yml');
    }
}
