name: PHPUnit

on: [ push, pull_request ]

jobs:
    phpunit:
        name: "PHP ${{ matrix.php }} + ${{ matrix.dependencies }} dependencies + Symfony ${{ matrix.symfony }}"
        runs-on: ubuntu-latest
        strategy:
            fail-fast: false
            matrix:
                php: [ '8.1' ]
                dependencies: [ highest ]
                symfony: [ '*' ]
                stability: [ 'stable' ]

        steps:
            -   name: Checkout
                uses: actions/checkout@v2

            -   name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: ${{ matrix.php }}
                    coverage: ${{ steps.coverage.outputs.driver }}
            #                  extensions: gd, imagick

            -   name: Require Symfony version
                if: matrix.symfony != '*'
                run: |
                    composer global require --no-interaction --no-progress symfony/flex:^1.11
                    composer config extra.symfony.require ${{ matrix.symfony }}

            -   name: Set minimum-stability
                run: composer config minimum-stability ${{ matrix.stability }}

            -   name: Update project dependencies
                uses: ramsey/composer-install@v2
                with:
                    dependency-versions: ${{ matrix.dependencies }}

            -   name: Cache PHPUnit
                uses: actions/cache@v4
                with:
                    path: vendor/bin/.phpunit
                    key: ${{ runner.os }}-phpunit-${{ matrix.php }}

            -   name: Install PHPUnit
                run: vendor/bin/simple-phpunit install

            -   name: Run PHPUnit tests
                env:
                    SYMFONY_DEPRECATIONS_HELPER: max[self]=0
                run: vendor/bin/simple-phpunit -v
